<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.iwf.PhotoPickerDemo"
    >

    <!--
      - Include all the "features" under the camera permission,
      - and mark them all as optional.
      -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="me.iwf.PhotoPickerDemo.MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:theme="@style/customTheme"
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            />

        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="423ff17515038a50c41085cc2dbd0087d2e51cbb" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
